server:
  port: 8080

spring:
  application:
    name: mitmit

  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            scope: email, profile
            redirect-uri: "http://localhost:8080/login/oauth2/code/{registrationId}"
          github:
            client-id:
            client-secret:
            scope: read:user, user:email
            redirect-uri: "http://localhost:8080/login/oauth2/code/{registrationId}"

  # 1. Bộ não: MySQL
  datasource:
    url: jdbc:mysql://localhost:3306/mitmit?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update # Tự động tạo/cập nhật bảng dựa trên class Entity của mày
    show-sql: true # Bật cái này lên để nhìn console nó tự gen SQL, bao ngầu
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect


  data:
    # 2. Trái tim Real-time: Redis
    redis:
      host: localhost
      port: 6379
  # 3. Kho chứa lịch sử: MongoDB
  mongodb:
    uri: mongodb://localhost:27017/mitmit
